<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- script tailwindcss CDN -->
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <style>
            .pixel-font {
                font-family: 'Press Start 2P', cursive;
            }
        </style>
        <title>Chapter Dua</title>
    </head>

    <body class="w-screen h-screen flex flex-col justify-evenly items-center bg-[url('static/images/chapter2.jpg')] bg-center bg-cover">
        <!-- Popup ketika waktu habis -->
        <div id="popup_waktu_habis" class="hidden fixed inset-0 bg-black bg-opacity-80 z-50 flex justify-center items-center">
            <div class="bg-white border border-black p-5">
                <p>Waktu habis! Anda akan diarahkan ke Halaman Utama!</p>
            </div>
        </div>

        <!-- Popup ketika jawaban benar -->
        <div id="popup_jawaban_benar" class="hidden fixed inset-0 bg-black bg-opacity-80 z-50 flex justify-center items-center">
            <div class="bg-white border border-black p-5">
                <p>Jawaban Benar!</p>
                <p>Anda akan diarahkan ke Chapter Selanjutnya!</p>
            </div>
        </div>

        <!-- Popup ketika jawaban salah -->
        <div id="popup_jawaban_salah" class="hidden fixed inset-0 bg-black bg-opacity-80 z-50 flex justify-center items-center">
            <div class="bg-white border border-black p-5">
                <p>Jawaban Salah!</p>
                <button onclick="document.getElementById('popup_jawaban_salah').classList.add('hidden');">OK</button>
            </div>
        </div>

        <div class="pixel-font text-l">
            <h1>Selamat datang di Chapter Dua</h1>
        </div>

        <div class="flex-col pixel-font text-l bg-slate-500/50 p-2 rounded">
            <div class="flex justify-center">
                <p>
                    Di tengah malam di pusat kendali reaktor nuklir, alarm darurat menyala,
                </p>
            </div>

            <div class="flex justify-center">
                <p>
                    operator Jethro dan Ian harus menekan tombol darurat untuk mencegah bencana.
                </p>
            </div>

            <div class="flex justify-center">
                <p>
                    Namun, tombol tersebut terkunci dengan chiper.
                </p>
            </div>

            <div class="flex justify-center">
                <p>
                    Di sampingnya, ada petunjuk bertuliskan:
                </p>
            </div>

            <div class="flex justify-center">
                <p class="">"Dekripsi pesan :<span class="text-blue-700" id="encryptedText"></span> dengan kunci :<p><strong></strong><span class="text-blue-700" id="kunci"></span></p>"</p>
            </div>
        </div>

        <!-- Tempat untuk menampilkan hasil -->
        <div class="flex flex-col" id="output" style="display: none;">
            <div class="flex justify-center pixel-font text-l">
                <p><strong>Teks Dekripsi:</strong> <span id="decryptedText"></span></p>
            </div>
        </div>

        <!-- Timer Element -->
        <div class="pixel-font bg-slate-500/50 p-2 rounded" id="timer">00:00</div>

        <!-- Form jawaban -->
        <div class="flex flex-col items-center space-y-4">
            <form id="inputForm" class="flex flex-col items-center space-y-4">
                <!-- Input Field -->
                <input
                    class="border-2 border-gray-400 rounded px-4 py-2 w-64 pixel-font text-l text-center focus:outline-none focus:ring-2 focus:ring-blue-500"
                    type="text"
                    id="inputText"
                    onkeyup="this.value = this.value.toUpperCase();"
                    placeholder="Enter text here"
                >

                <!-- Submit Button -->
                <button
                    type="submit"
                    class="bg-blue-600 hover:bg-blue-700 text-black text-l font-bold py-2 px-4 rounded-full shadow-lg pixel-font"
                >
                    Next
                </button>
            </form>
        </div>

        <!-- Audio button + autoplay -->
        <div class="bg-blue-600 hover:bg-blue-700 text-black text-l font-bold py-2 px-4 rounded-full shadow-lg pixel-font">
            <button id="unmuteButton">Unmute</button>
        </div>

        <audio id="audio-bg" autoplay loop muted>
            <source src="{{ url_for('static', filename='music/police_siren.mp3') }}" type="audio/mpeg">
            Browser Anda tidak mendukung elemen audio.
        </audio>

        <img src="static\images\nyon2.png" alt="police1" class="absolute bottom-28 left-40 w-96 transform">

        <img src="static\images\jethro2.png" alt="police1" class="absolute bottom-28 right-40 w-96 transform">
    </body>
</html>

<script>
    let decryptedText = '';

    async function processViginere() {
        // Kirim data ke endpoint /caesarcipher dengan metode POST
        const response = await fetch('/viginerechaptertwo', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
            })
        });
        
        // Ambil hasil enkripsi dan dekripsi dari respons
        const data = await response.json();
        
        // Tampilkan hasil enkripsi dan dekripsi di halaman HTML
        document.getElementById('encryptedText').textContent = data.teks_enkripsi;
        document.getElementById('decryptedText').textContent = data.teks_dekripsi;
        document.getElementById('kunci').textContent = data.kunci;

        // Simpan teks dekripsi untuk perbandingan nanti
        decryptedText = data.teks_dekripsi;
    }

    // Fungsi untuk memeriksa input pengguna sebelum mengirim form
    document.getElementById('inputForm').addEventListener('submit', async function (e) {
        e.preventDefault(); // Mencegah form agar tidak langsung terkirim

        const userInput = document.getElementById('inputText').value;

        // Periksa input user dengan text asli
        if (userInput === decryptedText) {
            // Hapus class hidden dari popup jawaban benar
            document.getElementById('popup_jawaban_benar').classList.remove('hidden');
            
            // Post ke chapter selanjutnya 
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/chaptertiga';
            document.body.appendChild(form);

            // Waktu tunggu 3 detik
            setTimeout(function(){
                form.submit();
            }, 3000)
            
        } else {
            // Tampilkan popup jawaban salah
            document.getElementById('popup_jawaban_salah').classList.remove('hidden');
        }
    });

    // Page Timer System
    let startTime = 0;
    let timerInterval ;
    let fiveMinutes = 5 * 60 * 1000; // 5 menit dalam milidetik

    function startTimer() {
        startTime = Date.now() - (localStorage.getItem("chapterTwoTime") || 0);
        timerInterval = setInterval(updateTimer, 1000);
    }

    function updateTimer() {
        const elapsedTime = Date.now() - startTime;
        const timeLeft = fiveMinutes - elapsedTime;

        if (timeLeft <= 0) {
            clearInterval(timerInterval);
            document.getElementById('timer').textContent = "00:00";

            // Tampilkan popup
            document.getElementById('popup_waktu_habis').classList.remove('hidden');

            // Redirect ke halaman utama setelah 10 detik
            setTimeout(function() {
                window.location.href = '/';
            }, 5000); // 5 detik
            return;
        }

        const minutes = Math.floor(timeLeft / (1000 * 60));
        const seconds = Math.floor((timeLeft / 1000) % 60);

        const formattedTime = `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
        document.getElementById('timer').textContent = formattedTime;

        localStorage.setItem("chapterTwoTime", elapsedTime);
    }

    // Audio Unmute Button
    const unmuteButton = document.getElementById('unmuteButton');
    const audioBg = document.getElementById('audio-bg');

    unmuteButton.addEventListener('click', () => {
        if (audioBg.muted) {
            audioBg.muted = false;
            unmuteButton.textContent = "Mute";
        } else {
            audioBg.muted = true;
            unmuteButton.textContent = "Unmute";
        }
    });

    // Reset timer ketika pindah ke halaman lain
    window.addEventListener('beforeunload', function(){
        // Membersihkan interval timer
        clearInterval(timerInterval); 
        
        // Hapus item localStorage jika waktu habis
        localStorage.removeItem("chapterTwoTime"); 
    });

    // Auto aktivasi fungsi
    window.addEventListener('load', () =>{
        processViginere();
        startTimer();
    });
</script>