<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the Message</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <style>
        .pixel-font {
            font-family: 'Press Start 2P', cursive;
        }
    </style>
</head>

<body class="w-screen h-screen flex items-center justify-center">
    <div class="bg-blue-500 w-full h-full flex items-center justify-center">
        <div class="flex flex-col">
            <div class="flex justify-center">
                <h1 class="text-white text-4xl md:text-6xl font-bold mb-8 pixel-font">Encryption Riddle</h1>
            </div>

            <div class="flex justify-center">
                <h1 class="text-white text-4xl md:text-6xl font-bold mb-8 pixel-font">The Game</h1>
            </div>

            <div class="flex justify-center">
                <form action="/chaptersatu" method="POST">
                    <button class="bg-yellow-500 hover:bg-yellow-600 text-black font-bold py-2 px-4 rounded-full shadow-lg pixel-font">
                        START
                    </button>
                </form>
            </div>
        </div>

        <img src="static\images\cloud1.png" alt="cloud1" class="absolute top-10 left-10 w-56 transform">

        <img src="static\images\cloud2.png" alt="cloud2" class="absolute top-6 w-44 transform">
        
        <img src="static\images\cloud3.png" alt="cloud3" class="absolute top-10 right-10 w-64 transform">

        <img src="static\images\tree1.png" alt="tree1" class="absolute bottom-20 right-2 w-40 transform">

        <img src="static\images\tree2.png" alt="tree2" class="absolute bottom-20 right-40 w-40 transform">

        <img src="static\images\tree3.png" alt="tree3" class="absolute bottom-20 right-24 w-24 transform">

        <img src="static\images\tree1.png" alt="tree1" class="absolute bottom-20 left-2 w-40 transform">

        <img src="static\images\tree2.png" alt="tree2" class="absolute bottom-20 left-40 w-40 transform">

        <img src="static\images\tree3.png" alt="tree3" class="absolute bottom-20 left-24 w-24 transform">

        <img src="static\images\dude1.png" alt="dude1" class="absolute bottom-16 w-24 transform">
    </div>

    <div class="absolute bottom-0 w-full h-20 bg-brown-500">
        <div class="bg-green-700 h-full"></div>
    </div>
</body>
</html>
